.navleft .logo {
  line-height: 90px;
  padding-left: 20px;
  background-color: #002140;
}
.navleft .logo img {
  height: 35px;
}
.navleft .logo h1 {
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
